* {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h2, .browser, .article-value {
  margin: 10px;
  padding: 5px;
}
.browser > h3, .browser > p, .article-value > h3, .article-value > p {
  margin: 4px;
  font-size: 90%;
  background-color: white;
}